html {
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    font-family: 'MedievalSharp', cursive;
    background-color: black;
    color: white;
}

h1 {
    margin: 0 auto;
    font-size: 6rem;
    color: green;
}

h2 {
    margin: auto;
    font-size: 3rem;
}

input {
    font-size: 1.45rem;
}

input[type="checkbox"] {
    transform: scale(2.25);
    vertical-align: middle;
    margin-left: 7.5px;
}
#formContainer {
    height: 100%;
    max-width: 30%;
    padding: 3em;
    border: 2px solid white;
    margin: 0 auto auto 0;

}

#bookEntryForm {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 3rem;
    line-height: 1.75em;
    text-align: left;
    border: 2px solid pink;
}

#formSubmitBtn {
    font-size: 1.5rem;
    margin: auto;
}

.table {
    width: 30%;
    margin: 0 20px auto auto;
    font-size: 1.5rem;
    text-align: left;
}

.table > thead {
    border-bottom: 2px solid white;
}

.deleteButton {
    display: inline-block;
    font-size: 1.1rem;
    background-color: red;
    color: white;
}
